<section itemscope="itemscope" itemtype="http://schema.org/Organization">
    <label>Name</label>
    <div itemprop="name"><input /></div>
    <div itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
        <label>Street Address</label>
        <div itemprop="streetAddress"><input /></div>
        <label>City, State</label>
        <div>
            <span itemprop="addressLocality"><input /></span><span>, </span>
            <span itemprop="addressRegion"><input class="input-small" /></span>
        </div>
        <label>Postal-Code</label>
        <div itemprop="postalCode"><input /></div>
    </div>
    <label>Telephone</label>
    <div itemprop="telephone"><input /></div>
    <label>Email</label>
    <div itemprop="email"><input /></div>
    <label>Url</label>
    <div itemprop="url"><input /></div>
</section>
